* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #fafafa;
    --color: black;
}

.dark:root {
    --bg-color: #000;
    --color: white;
}

.content-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer; /*Mudar a seta do mouse para mãozinha*/
    font-family: 'Bungee Spice', cursive;
}

body {
    background: black;
    background-image: url("./cyberpunk.jpg");
    
    background-size: cover;
}

.logoText {
    color: #fff;
    font-family: 'Bungee Spice', cursive;
    
}
.inicio {
    color: var(--color);
    cursor: pointer;
}

.list-itens {
    display: none;
    position: absolute;
    text-decoration: none;
    padding: 10px;
    min-width: 180px;
}

.list-itens a {
    display: block;
    text-decoration: none;
    padding: 10px;
}

header {
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgb(26, 16, 16); */
    background-color: var(--bg-color);
}

.listMenu {
    display: flex;
    list-style: none;

}

.listMenu li {
    margin-left: 15px;/*Espaços entre inicio e sobre no js*/
    
}

.mainCard {
    
}

/* Estilizando o card*/
.divCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    justify-items: center;

}

.container {
    
    height: 100%;
    width: 100%;
    background-position: center;

}

.img {
    width: 250px;
    height: 350px;
}

.cardItem {
    width: 300px;
}
