.content-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer; /*Mudar a seta do mouse para mãozinha*/
    font-family: 'Bungee Spice', cursive;
}

body {
    background: black;
    
}

.logoText {
    color: #fff;
    font-family: 'Bungee Spice', cursive;
    
}
.inicio {
    color: #fff;
    cursor: pointer;
}

.list-itens {
    display: none;
    position: absolute;
    text-decoration: none;
    padding: 10px;
    min-width: 180px;
}

.list-itens a {
    display: block;
    text-decoration: none;
    padding: 10px;
}

header {
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(33, 1, 1);
}

.listMenu {
    display: flex;
    list-style: none;

}

.listMenu li {
    margin-left: 15px;/*Espaços entre inicio e sobre no js*/
    
}

.mainCard {
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}

/* Estilizando o card*/
.divCard {
    width: 100px;
    height: 300px;
    /* background: #fff; */
    font-family: 'Bungee Spice', cursive;
    text-align: center;
    
}

.container {
    background-image: url("./cyberpunk.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;

}


